body {
  background: #E5E5E5;
}
#Headline {
    background: url(./Backgrounds/Header\ bg.png);
    background-position: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 90vh;
    border-bottom-left-radius: 79px;
    background-color: #fff;
}

#headline h1 {
  font-size: 48px !important;
  color: #091E42 !important;
}
